<?xml version="1.0"?>
<config>
    <modules>
        <Firebear_ConfigUrl>
            <version>1.2.0</version>
        </Firebear_ConfigUrl>
    </modules>
    <global>
        <models>
            <firebear_configurl>
                <class>Firebear_ConfigUrl_Model</class>
                <resourceModel>firebear_configurl_resource</resourceModel>
            </firebear_configurl>
            <firebear_configurl_resource>
                <class>Firebear_ConfigUrl_Model_Resource</class>
            </firebear_configurl_resource>
            <checkout>
                <rewrite>
                    <cart>Firebear_ConfigUrl_Model_Checkout_Cart</cart>
                </rewrite>
            </checkout>
            <catalog_resource>
                <rewrite>
                    <product_type_configurable_attribute>Firebear_ConfigUrl_Model_Resource_Product_Type_Configurable_Attribute</product_type_configurable_attribute>
                    <product_type_configurable_attribute_collection>Firebear_ConfigUrl_Model_Resource_Product_Type_Configurable_Attribute_Collection</product_type_configurable_attribute_collection>
                </rewrite>
            </catalog_resource>
        </models>
        <resources>
            <firebear_configurl_setup>
                <setup>
                    <module>Firebear_ConfigUrl</module>
                    <class>Firebear_ConfigUrl_Model_Resource_Setup</class>
                </setup>
            </firebear_configurl_setup>
        </resources>
        <helpers>
            <firebear_configurl>
                <class>Firebear_ConfigUrl_Helper</class>
            </firebear_configurl>
            <catalog>
                <rewrite>
                    <product>Firebear_ConfigUrl_Helper_Catalog_Product</product>
                </rewrite>
            </catalog>
        </helpers>
    </global>
    <frontend>
        <routers>
            <firebear_configurl>
                <use>standard</use>
                <args>
                    <module>Firebear_ConfigUrl</module>
                    <frontName>configurl</frontName>
                </args>
            </firebear_configurl>
        </routers>
        <layout>
            <updates>
                <firebear_configurl>
                    <file>firebear_configurl.xml</file>
                </firebear_configurl>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_catalog_product_view>
                <observers>
                    <firebear_configurl>
                        <type>model</type>
                        <class>firebear_configurl/observer</class>
                        <method>forwardToConfigurable</method>
                    </firebear_configurl>
                </observers>
            </controller_action_predispatch_catalog_product_view>
            <catalog_controller_product_view>
                <observers>
                    <firebear_configurl>
                        <type>model</type>
                        <class>firebear_configurl/observer</class>
                        <method>updateConfigurable</method>
                    </firebear_configurl>
                </observers>
            </catalog_controller_product_view>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <firebear_configurl>
                    <file>firebear/configurl.xml</file>
                </firebear_configurl>
            </updates>
        </layout>
    </adminhtml>
    <default>
    	<firebear_configurl>
	        <general>
	            <image_enabled>1</image_enabled>
	            <image_id>.product-img-box</image_id>
	            <short_description_enabled>1</short_description_enabled>
	            <short_description_id>.short-description</short_description_id>
	            <description_enabled>1</description_enabled>
	            <description_id>.box-description .std</description_id>
	            <title_enabled>1</title_enabled>
	            <title_id>.product-name</title_id>
                <price_id>.price-info .price-box</price_id>
                <tier_price_id>.price-info .tier-prices</tier_price_id>
	        </general>
	    </firebear_configurl>
    </default>
</config>