<?xml version="1.0"?>
<config>
    <modules>
        <Bss_Widget>
            <version>0.1.0</version>
        </Bss_Widget>
    </modules>
    <global>
        <blocks>
            <bss_widget>
                <class>Bss_Widget_Block</class>
            </bss_widget>
        </blocks>
        <helpers>
            <bss_widget>
                <class>Bss_Widget_Helper</class>
            </bss_widget>
        </helpers>
    </global>
</config>