*.sql
*.patch
*.tgz
*.gz
*.zip
*.psd
*.log
*.tar
*.tar.gz
*.swp
.DS_Store
.project
.idea  
/app/etc/local.xml
/media
/var
/mageaudit
/git_old
/.htaccess
/.htaccess-
/.sucuriquarantine/*
/app/.sucuriquarantine/*
/blog/*