<?xml version="1.0"?>
<config>
  <modules>
    <Bss_CustomBundleItem>
      <version>1.0.0</version>
    </Bss_CustomBundleItem>
  </modules>
  <global>
    <helpers>
      <custombundleitem>
        <class>Bss_CustomBundleItem_Helper</class>
      </custombundleitem>
    </helpers>
    <blocks>
      <custombundleitem>
        <class>Bss_CustomBundleItem_Block</class>
      </custombundleitem>
      <bundle>
        <rewrite>
          <adminhtml_catalog_product_edit_tab_bundle_option>Bss_CustomBundleItem_Block_Option</adminhtml_catalog_product_edit_tab_bundle_option>
        </rewrite>
      </bundle>
    </blocks>
    <models>
      <custombundleitem>
        <class>Bss_CustomBundleItem_Model</class>
        <resourceModel>custombundleitem_resource</resourceModel>
      </custombundleitem>
      <custombundleitem_resource>
        <class>Bss_CustomBundleItem_Model_Resource</class>
        <entities>
          <items>
            <table>bss_custombundleitem_items</table>
          </items>
        </entities>
      </custombundleitem_resource>
    </models>
    <resources>
      <custombundleitem_setup>
        <setup>
          <module>Bss_CustomBundleItem</module>
          <class>Mage_Core_Model_Resource_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </custombundleitem_setup>
    </resources>
  </global>
  <adminhtml>
    <events>
      <catalog_product_save_commit_after>
        <observers>
          <custombundleitem>
            <class>custombundleitem/observer</class>
            <method>saveBundleOption</method>
          </custombundleitem>
        </observers>
      </catalog_product_save_commit_after>
    </events>
  </adminhtml>
</config> 