/**
*
* Feel free to add your own css rules here.
*
*/
@font-face {
    font-family: MyriadPro-Bold;
    src: url('../fonts/Myriad-Pro-Bold_31631.ttf');
}
.product-options{border-bottom:none!important;margin-bottom:0!important;padding-bottom:0!important;}
.product-options-bottom{border-bottom:none!important;padding-bottom:0!important;}
.product-view .add-to-links-box{border-top:1px dotted #ddd;border-bottom:1px solid #ddd;padding-top: 10px;}
.product-view .add-to-box{border-bottom:none!important}
.opc .form-list .input-box select{color:#000!important;}
.header-text-banners .item .text p{color:#222;}

.window-overlay {
    display: none;
}
.cart-table {
    margin-bottom: 1em !important;
}
.left.bold {
    color: #000;
    font-weight: bold;
    margin-bottom: 2em;
}
header#header.header-2 .header-text-banners .item {
    margin-right: 55px;
    margin-left: 1px;
}
.catalog-product-view .rating-title h2 {
    margin: 0 16px 1px !important;
}
.click-submit a span {
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    height: auto;
    line-height: 26px;
    padding:13px;
    text-transform: uppercase;
    background:#4cb1f1;
    cursor: pointer;
}
.rating-top , .click-submit{
    margin-bottom: 30px;
}
.rating-top .ratings-table {
    width: 3%;
    margin-top: 0;
}
.rating-top th {
    display: none;
}
.catalog-product-view .box-reviews .review-txt {
    color: #888;
    font-size: 1em !important;
    line-height: 1.5em;
}
.catalog-product-view .box-reviews .actions {
    text-align: center !important;
     margin-bottom: 30px
}
.catalog-product-view .box-reviews .form-add {
    left: 25%;
}
.box.visible li {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 1.98em;
}
.ratings-table .rating-box .rating {
    background: url("../images/bkg_rating.gif") repeat-x scroll 0 100% rgba(0, 0, 0, 0);
    float: left;
    height: 11px;
}
.ratings-table .rating-box{
    background: url("../images/bkg_rating.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 0;
    height: 11px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 72px;
}
.rating-box-small .rating {
    background: url("../images/bkg_rating_2.gif") repeat-x scroll 0 100% rgba(0, 0, 0, 0);
    height: 6px;
}
.rating-box-small {
    background: url("../images/bkg_rating_2.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    height: 6px;
    margin-top: 5px;
    overflow: hidden;
    text-indent: -999em;
    width: 45px;
}
.totals-box::before {
    clear: both;
    content: "";
    display: block;
}
span.review-title {
    float: left;
    font-size: 1em;
    margin-bottom: 0.75em;
    margin-right: 1em;
    padding: 0;
}
#customer-reviews .nobr {
    color: #222;
    margin-top: 3px;
}

.catalog-product-view .box-reviews.full-table .indent .review-fields {
    float: none !important;
}
.catalog-product-view .box-reviews.full-table .indent fieldset, .catalog-product-view .box-reviews.full-table .indent .review-fields {
    width: 100% !important;
}
.ratings-table th {
    font-size: 1em;
}
.checkbox-wrapper {
    display: inline-block;
    float: left;
    padding-right: 15px;
}

.couponandgifcart {
    float: left;
    margin: 0;
}
.giftcart,.counpon { width: 48%;float: left;}
.counpon {border-left: 1px solid #c5c5c5;}
.cart .discount .buttons-set button.button span span, .cart .shipping .buttons-set button.button span span{/* background-color: #4cb1f1!important;*/}
.cart.cart-2  .couponandgifcart .discount label{margin-bottom: 3px;}
.cart .couponandgifcart .discount .buttons-set{ margin: 4px 0 0;}
.cart div.aw_giftcard form#aw_giftcard-form button{width: 48%;margin: 0 3px 5px 0 !important}
.checkout-cart-index .aw_giftcard{width: 74%!important;padding: 10px 10px 10px 25px;}
#giftcard_code{width: 93%!important;background: #ddd none repeat scroll 0 0;height: 20px;}
.coupon { padding: 10px 0 21px 31px;}
.cart .couponandgifcart header{border-bottom: medium none transparent;}
.cart .couponandgifcart input{height: 20px;}
.cart .couponandgifcart header h2{ margin: 0;color: #666;font-family: Arial,sans-serif;}
.cart.cart-2 .couponandgifcart header {margin-bottom: 3px;}
.couponandgifcart .counpon .discount-form{ width: 75%;}
.couponandgifcart .counpon .discount-form .button{ width: 42%;margin-right: 5px;}
.cart .couponandgifcart .discount .buttons-set button.button span{font-size: 11px;height: auto;line-height: 30px!important;}
.shipping-mess {border: 1px solid #ddd;margin-bottom: 11px;padding: 13px 0 13px 26px;}
.shipping-mess .messchamthan {color: red;font-size: 15px;}
.shipping-total {font-size: 14px;}
.col-shipping-carrier, .col-account-number {margin: 10px 0 10px 20px;}
.col-shipping-carrier > label, .col-account-number > label {display: block;}
.checkout-onepage-index #checkout-step-login .buttons-set{border-top:none;padding:0;}
.already_account {display: none;}
.breadcrumbs-wrapper {padding-top: 15px;}
.checkout-onepage-index .payments .col-right {width: 49%;margin-left: 5%;}
.checkout-onepage-index .payments .col-left {margin-right: 5%;width: 49%;}
#nav-cover {position: absolute; width: 100vw; background: #000; left: 0; opacity: 0.5; display: none;}
#nav-cover.active {display: block!important;}
.checkout-onepage-index .payments {padding: 20px 35px 0 35px;display: flex;}
.paymets-footer{text-align: center;}
.paymets-footer img{width: 100%;}
#ac-page .cards li {width: 51px !important;}
.block-shiping-product{
    border-bottom: 1px solid #9a9a9a;
    border-top: 1px solid #9a9a9a;
}
.block-shiping-product .shipping-content {
    display: flex;
    display: -webkit-flex;
    /*width: 50%;*/
}
.block-shiping-product .shipping-content img{
    width: 50px;
    height: 49px;
}

.block-shiping-product .shipping-content p {
    margin-bottom: 0 !important;
    padding: 5px 0 5px 10px;
    color: #000;
    font-weight: 700;
}

.header-phone span{color: yellow;}
header#header {
    z-index: 2000;
}
@media screen and (max-width: 1281px) {
    .cart .couponandgifcart .discount .buttons-set button.button span{font-size: 9px;}
}
@media only screen and (min-width: 1281px) {
    .form-list textarea, .form-list input.input-text.fix-input {width: 766px;} 
}
@media only screen and (max-width: 1280px) and (min-width: 978px) {
    .form-list textarea, .form-list input.input-text.fix-input {width: 590px;}
}
@media only screen and (max-width: 977px) and (min-width: 768px) {
    .form-list textarea, .form-list input.input-text.fix-input {width: 478px;}
    header#header.header-2 h2.logo{width: 20%;margin-right: 0;}
    .header-text-banner{width: 80%;}
}
@media only screen and (max-width: 767px) {
    .block-shiping-product .shipping-content{
        width: 100%;
    }
    header#header.header-2 .header-text-banners.hiden-alow-768{display:none;}
    .counpon {border-left: transparent;border-top: 1px solid #ddd;}
    .cart div.aw_giftcard form#aw_giftcard-form button{ width: 100%;margin-right: 5px;}
    .couponandgifcart .counpon .discount-form .button{width: 42%; margin-right:0 }
    .col-amz {
        width: 100% !important;
        display: block !important;
        margin-right:0 !important;
        padding-right:0 !important;
        border-right:0 !important;
    }
    #col-2-amz {
        padding-right: 0 !important;
        padding-left: 0 !important;
        border-left: none !important;
        border-right: none !important;
    }
    .catalog-category-view .hide-768{display: none;}
    .display-tablet.block-usp-wrap{display: block;margin-top: 15px;border: 1px solid #ddd;padding: 0;}
    .hide-tablet.block-usp-wrap{display: none;}
    .couponandgifcart{border: none;}
    .reward-mess{display: none;}
    .header-top{display: none;}
    a.logo{display: none;}
    header#header h2.logo{width: 105px;left: 40px;padding: 0;}
    header.header .top-cart{float: none;right: 0;position: absolute;}
    header.header .menu-button.mobile{position: absolute;top: 0;left: 0;width: 10%;color: black!important;background-color: initial;}
    .menu-button i{font-size: 2.16em;}
    .menu-text{display: none;}
    header.header .menu-line{position: absolute;top: 0;}
    .header .top-block{display: none;}
    .login-mobile{position: absolute;top: 10px;right: 55px;}
    .phone-mobile{position: absolute;top: 11px;right: 97px;}
    header.header .top-cart .block-title .title-cart{font-size: 30px;padding: 6px 0 0;}
    header#header{padding-bottom: 20px;}
    .nav-container.mobile{z-index: 11;top: 40px;}
    header.header .top-cart .block-title{display: none;}
    header.header .top-cart .block-title.top-cart-mobile{display: block;}
    header.header .top-cart .block-title.top-cart-mobile .title-cart:hover{background-color: initial;}
}
.grid_4.omega .form-list, .grid_4.omega .form-list p {
    padding-left: 0px !important;
}
@media only screen and (min-width: 1024px){
    .block-usp-bottom {
        float: left;
    }      
    .block-usp-bottom .icon-GoDaddy {
        margin: 0 50px;
    }
}


@media only screen and (min-width: 768px){
    .block-shiping-product .shipping-content {
        display: flex;
        display: -webkit-flex;
    }
    .block-shiping-product .shipping-content img{
        width: 50px;
        height: 49px;
    }

    .block-shiping-product .shipping-content p {
        margin-bottom: 0 !important;
        padding: 5px 0 5px 10px;
        color: #000;
        font-weight: 700;
    }

    .block-shiping-product {
        padding-bottom: 10px;
        padding-left: 10px;
    }
    .cart.cart-2 .cart-table .product-box img {
        display: block;
        width: 86px;
        float: left;
        margin-right: 20px;
    }
    .block-usp-bottom .icon-GoDaddy {
        margin: 0 80px;
        width: 123px;
        height: 32px;
    }

    .block-usp-bottom .icon-McAfee {
        width: 98px;
        height: 40px;
    }
    p.checkout-needhelp {
        position: absolute;
        padding: 2px 0 0 25px;
        right: 100px;
        top: 45%;
        color: #000;
        float: right;
    }
    p.checkout-needhelp strong {
        font-weight: 700;
        color: #000;
    }
    p.checkout-needhelp a {
        color: #000;
        text-decoration: none;
    }
    .checkout-needhelp-bottom {
        display: none;
    }
    .block-usp-bottom {
        margin-top: 20px;
        //float: none;
    }
    .block-usp-bottom .block-usp-content {
        max-width: 962px;
        margin: 0 auto;
        display: flex;
        display: -webkit-flex;
    }

    .block-usp-bottom .block-usp-content .usp-left {
        width: 648px;
    }
    .block-usp-bottom .items-icon {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        -webkit-align-items: center;
        -webkit-justify-content: center;
    }
    .block-usp-bottom .block-usp-content .usp-left h3 {
        text-align: center;
        color: #000;
        font-size: 18px;
    }
    .block-usp-bottom .items-icon {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        -webkit-align-items: center;
        -webkit-justify-content: center;
    }
    .block-usp-bottom .items-icon img {
        justify-content: center;
        -webkit-justify-content: center;
    }
    #my-price{display: none;}
    a.logo-mobile{display: none;}
    .login-mobile{display: none;}
    .phone-mobile{display: none;}
    .top-cart-mobile{display: none;}
}

@media (max-width: 767px){
    .checkout-needhelp-bottom {
        margin: 20px;
    } 
    .checkout-needhelp-bottom strong {
        font-weight: 700;
    }
    .checkout-needhelp-bottom a {
        color: #000;
        text-decoration: none;
    }
    .block-usp-bottom .items-icon {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        display: flex;
        display: -webkit-flex;
        align-items: center;
        justify-content: center;
        -webkit-align-items: center;
        -webkit-justify-content: center;
    }
    .checkout-onepage-index .payments .col-left {
	    margin-right: 0%;
	    width: 100%;
	    margin-bottom: 10px;
	}
	.checkout-onepage-index .payments .col-right {
	    width: 100%;
	    margin-left: 0%;
	}
	.checkout-onepage-index .payments {
	    padding: 0;
	    display: block;
        text-align: center;
	}
	body.checkout-onepage-index .opc .required{
		text-align: left;
	}
	.block-usp-bottom .block-usp-content .usp-left h3 {
	    text-align: center;
	    color: #000;
	    font-size: 18px;
	    margin-bottom: 10px;
	}
	.block-usp-bottom .items-icon {
	    margin: 0 auto;
	    padding: 0;
	    list-style: none;
	    display: flex;
	    display: -webkit-flex;
	    align-items: center;
	    justify-content: center;
	    -webkit-align-items: center;
	    -webkit-justify-content: center;
	}
	.block-usp-bottom .items-icon img {
	    justify-content: center;
	}
	.block-usp-bottom .icon-GoDaddy {
	    margin: 0 10px;
	}
    #gcForm .text-below{width: 100%!important;}
    .checkout-needhelp {
        display: none;
    }
    .checkout-onepage-index img.img-pay-amazon{padding: 0!important;}
    #ac-page #checkout-payment-method-load .cvv-what-is-this {left: 155px !important;top: 2px;}
    .cart-table td a.product-image,.cart .cart-table .product-box > img {
        width: 30% !important;
        margin: 0 !important;
        float: left !important;
    }
    .cart-table .item-options {
        float: left !important;
        max-width: 175px;
        padding-left: 10px;
    }
    .cart-table .product-box:after {
        content: "";
        clear: both;
        display: block;
    }
    .cart-table .product-box {
        position: relative;
    }
    .cart-table .c_actions,.cart .cart-table .product-box .c_actions {
        float: left;
        display: block;
        clear: none;
        margin-bottom: 0;
        position: absolute;
        bottom: -20px;
        left: 30%;
    }
    .cart-table .product-name,.cart .cart-table .product-box .product-name {
        float: left !important;
        width: 70% !important;
        clear: none !important;
        padding-left: 10px;
        box-sizing: border-box;
    }
    .hide-mobi span.cart-price {
        display: none;
    }

    #my-price {
        position: absolute;
        right: 15px;
        padding-top: 5px;
    }
    .cart-table .item-msg {
        padding-left: 10px;
        margin-left: 30%;
    }
    table.cart-table td.information {
        position: relative;
    }
}
@media only screen and (max-width: 479px){
    #ac-page #checkout-payment-method-load .cvv-what-is-this {left: 150px !important;}
}
@media only screen and (max-width: 320px){
    .block-usp-bottom .icon-PayPal {width: 80px;}
    .block-usp-bottom .icon-GoDaddy {margin: 0 10px;width: 100px;height: 32px;}
    .block-usp-bottom .icon-McAfee {width: 90px;height: 40px;}
    .checkout-onepage-index .payments {padding: 0!important;display: block;}
    .checkout-onepage-index .payments.i-checkout{padding-top: 10px!important;}
    .checkout-onepage-index img.img-pay-amazon{padding: 0!important;}
}

/**Hides 'Required Fields' text below product price on Bundle products (11/9/2017; Jon)**/
.product-options p.required {
    display: none;
}


/*cart page*/
.cart.cart-2 .button_onepage > span{
    height: 65px;
    border: none;
}
.cart.cart-2 .button_onepage span span{    
    font-family: "MyriadPro-Bold";
    text-transform: uppercase;
    font-size: 19px;
    line-height: 67px;
    background: url(../images/icon-clock.png);
    background-position: 8%;
    background-repeat: no-repeat;
    height: auto;
    background-color: #4CB1F1;
    background-size: 18px;
}
.cart .omega{float: right;}
body .cart .alpha button.button span, body .cart .couponandgifcart button.button span{
    background-color: initial !important;
    color: initial;
    border: initial;
}
body .cart .alpha button.button span span, body .cart .couponandgifcart button.button span span{
    background-color: white !important;
    color: #000 !important;
    border: 1px solid #000;
}
.cart.cart-2 aside section.totals header{background-color: #6f6f6f;}
.inter_text{text-align: center;}
.cart .top-checkout{display: none;}
.payment_bot{display: none;}
.block-usp-wrap {padding-top: 15px;}
.cart.cart-2 aside section.block-colright {
    background: transparent;
    padding: 0px;
    padding-bottom: 10px;
}
.harbour-payment{border: 1px solid #dddddd;}
.cart.cart-2 aside section.block-colright h3 {
    font-family: Open Sans, sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 35px;
    color: #aaaaaa;
    background-color: #f5f5f5;
}
.needhelp-items {
    display: flex;
    display: -webkit-flex;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
.item-phone p {
    margin-left: 29px;
}
.needhelp-items p {
    color: #000;
    font-size: 14px;
}
.needhelp-items p strong {
    font-size: 16px;
    font-weight: 600;
}
.needhelp-items p {
    margin-left: 24px;
}
.item-headset p {
    margin-left: 10px;
}
.display-tablet {display: none;}
.hide-tablet {display: block;}
@media only screen and (min-width: 768px){
    .block-usp-wrap .usp-content {
        display: flex;
        display: -webkit-flex;
        padding: 25px 15px 25px 40px;
        border: 1px solid #c5c5c5;
        margin-right: 10px;
    }
    .block-usp-wrap .usp-content .usp-items {
        width: 33.33%;
        padding-left: 6px;
    }
    .usp-items img {
        display: inline-block;
        margin-right: 10px;
    }
    .usp-items p {
        color: #000;
        display: inline-block;
        width: 70%;
    }
    .usp-items p strong {
        font-weight: 700;
        margin-bottom: 10px;
        display: block;
    }
}

@media only screen and (min-width: 1025px){
    .usp-wrapper {
        margin-top: 15px;
    }
    .block-usp-wrap .usp-content {
        display: flex;
        display: -webkit-flex;
        padding: 25px 50px;
        margin-right: 0px;
    }
    .block-usp-wrap .usp-content .usp-items {
        width: 33.33%;
        padding-left: 25px;
    }
    .usp-items img {
        display: inline-block;
        margin-right: 20px;
    }

}

@media only screen and (min-width: 1020px){
    #giftcard_code{width: 100% !important;margin-bottom: 5px;padding: 5px 0;}
    .cart div.aw_giftcard form#aw_giftcard-form button{
        display: block;
        margin: 0 !important;
        float: left;
        width: 48%;
    }
    .cart div.aw_giftcard form#aw_giftcard-form button:first-child{margin: 0 4% 0 0!important;}
    body .cart.cart-2 .discount .input-box input{width: 100%;}
    .couponandgifcart .counpon .discount-form .button{margin-right: 0;}
    .gc-coupon{margin: 10px 0;border: 1px solid #c5c5c5;}
    .needhelp-wrap{margin-top: 20px;}
}
@media only screen and (min-width: 978px){
    .cart.cart-2 aside section.payment-wrap .items-icon img {
        display: block;
        margin: 14px auto;
    }
}
@media only screen and (min-width: 1020px) and (max-width: 1280px){
    .cart.cart-2 .button_onepage span span{background-position: 4%; font-size: 15px;}
    .cart .international{background-size: 100% 100%;width: 100% !important;} 
}
@media only screen and (min-width: 768px) and (max-width: 1019px){
    .cart .alpha{margin: 0 0 1.5em;width: 100%;}
    .main-container .cart.cart-2 .omega{
        width: 50%;
        float: right;
        margin: 0;
    }
    .cart .couponandgifcart{
        width: calc( 50% - 30px );
        width: -webkit-calc( 50% - 30px );
        width: -moz-calc( 50% - 30px ); 
        border: none; 
        padding-right: 30px;
    }
    .giftcart, .counpon{width: 100%;border: 1px solid #c3c3c3;margin-bottom: 20px;}
    .cart.cart-2 aside.omega section.totals header{margin: 0 0 1.5em;}
    .checkout-cart-index .aw_giftcard{width: 85%!important;}
    .couponandgifcart .counpon .discount-form{width: 85%;}
}
@media only screen and (min-width: 978px) and (max-width: 1019px){
    .cart.cart-2 .totals .checkout-types button.button{width: 54%;}
}
@media only screen and (min-width: 768px) and (max-width: 977px){
    .cart.cart-2 .totals .checkout-types button.button{width: 71%;}
    body .product-view .add-to-links, body .product-options-bottom .add-to-links{float: left;}
    .product-view .productpage_small .product-img-box, body .productpage_small .product-shop {float: none;}

}
@media only screen and (max-width: 1024px) and (min-width: 768px){
    .cart.cart-2 aside section.block-colright {
        width: 100%;
        margin: 10px 0;
    }
    body .cart.cart-2 aside section {
        margin-left: 10px;
    }
    body .cart.cart-2 aside section.totals {
        width: 100%;padding: 0;margin: 0;
    }
    .needhelp-tablet {
        background: transparent;
        border: 1px solid #c5c5c5;
        padding: 0px;
        margin-top: 10px;
        margin-right: 0;
        width: 100%;
    }
    .needhelp-tablet h3, .needhelp-wrap h3 {
        font-family: Open Sans, sans-serif;
        font-size: 18px;
        text-align: left;
        line-height: 35px;
        color: #aaaaaa;
        padding-left: 40px;
        padding-top: 20px;
        margin-bottom: 0;
    }
    .cart .grid_9.alpha.block-usp-wrap {
        margin: 0 0 1.5em;
        width: 100%;
    }
    .display-tablet {display: block;}
    .hide-tablet {display: none;}
    .needhelp-wrap {border: 1px solid #c5c5c5;}
}
@media only screen and (max-width: 767px){
    .cart.cart-2 .totals .checkout-types button.button{width: 73%;}
    .cart .top-checkout{display: block;}
    .cart.cart-2 .title-buttons .checkout-types li{float: none;}
    .cart .omega{float: none;}
    .cart .checkout-types button.button, .cart .paypal-logo img{width: 73%;}
    .giftcart,.counpon {width: 100%;float: none;}
    .couponandgifcart{float: none;}
    /*.payment_top{display: none;}*/
    .payment_bot{display: none;}
    .cart.cart-2 .button_onepage span span{font-size: 17px;}
    .searchautocomplete{width: 100%;}
    .searchautocomplete .nav{
        width: calc(100% - 39px);
        width: -webkit-calc(100% - 39px);
        width: -moz-calc(100% - 39px);
    }
    .checkout-cart-index .aw_giftcard, .checkout-cart-index #discount-coupon-form{width: 75%!important;padding: 10px 10px 10px 25px;}
    #giftcard_code{width: 100% !important; box-sizing: border-box; height: 30px;}
    .checkout-cart-index .coupon { padding:0;}
    .checkout-cart-index #coupon_code {box-sizing: border-box; width: 100%; height: 30px; margin-bottom: 5px;}
    .couponandgifcart .counpon .discount-form{ width: 100%;}
    .alpha, .omega {
        margin-left: 0;
        margin-right: 0;
    }
    .cart .couponandgifcart .block-usp-wrap {
        border-top: 1px solid #ccc;
    }
    .checkout-cart-index .giftcart {position: relative;}
    .checkout-cart-index .aw_giftcard .giftcard-item-button,.checkout-cart-index .counpon .coupon-item-button {
        position: absolute;
        right: 20px;
        top: 15px;
        font-size: 20px;
    }
    .checkout-cart-index .counpon .coupon {position: relative;}
    .checkout-cart-index .cart .discount  {margin-bottom: 0px;}
    .usp-items {
        margin: 30px auto;
        overflow: auto;
        width: 250px;
    }
    .usp-items img {
        float: left;
        margin-right: 10px;
    }
    .usp-items p {
        float: left;
        width: 70%;
        color: #000;
    }
    .usp-items p strong {
        display: block;
        font-weight: 700;
    }
    .payment-mobile {
        border: 1px solid #c5c5c5;
        padding-bottom: 10px;
    }
    .payment-mobile h3 {
        font-family: Open Sans, sans-serif;
        font-size: 14px;
        text-align: center;
        line-height: 35px;
        color: #000;
        background-color: #f5f5f5;
        text-transform: uppercase;
    }
    .payment-mobile .items-icon img {
        display: block;
        margin: 20px auto;
    }
}
@media only screen and (max-width: 480px){
    .cart.cart-2 .totals .checkout-types button.button, .cart .checkout-types button.button, .cart .paypal-logo img{width: 90%;}
}
.cart .international{border: 1px solid #ddd!important;}
@media only screen and (max-width: 350px){
    .cart #icForm .international{width: 100% !important;}
}
.mess-country{font-style: italic;}
.mess-country a{color: #53a548;}
.mess-country span{font-weight: bold;color: #938a8d;}

/*Login Social module*/
.account-login .pslogin-block {text-align: center;}
.account-login .pslogin-block .pslogin-spacer{display: none}
.account-login .pslogin-spacer {margin-top: 112px }
.account-login .pslogin-spacer h2{text-align:left; margin-bottom: 15px;}
.account-create h2 {
    font-size: 1.5em;
    line-height: 1.8em;
    border-bottom: 1px solid #ccc;
}
.account-create .pslogin-spacer h2{text-align:left;}
.account-create .pslogin-spacer h2.zeus-register{margin-top: 45px;}
.pslogin-block.pslogin-register .pslogin-buttons {display: block; text-align: center;}
#checkout-step-shipping .pslogin-login .pslogin-spacer, .paymets-footer p{font-size: 16px; margin-top: 0;}
#checkout-step-shipping .pslogin-block.pslogin-login {margin-bottom: 0}
#checkout-step-shipping .pslogin-block.pslogin-login .pslogin-buttons {text-align: center;}
#ac-page .pslogin-buttons li {display: inline-block; width: auto !important;}

@media only screen and (max-width: 1280px){
    .account-login .pslogin-spacer {margin-top: 95px }
}
@media only screen and (max-width: 767px){
    .account-login .pslogin-spacer {margin-top: 20px }
}

/*Product page*/
.product-view .price-box p.price-as-configured {margin-bottom: 3em !important}
.product-options-bottom .add-to-cart {margin-bottom: 3em !important}

/*Amasty Ajax Cart*/
#messageBox input.qty, #confirmButtons .am-btn-left .timer {float: none;}
#confirmButtons button.am-btn-right {background-color: #4CB1F1}
.amcart-dialog-container > .amcart-title a {font-size: 20px; word-break: break-word;}
.amcart-related-block .button.add-tocart,.amcart-upsell-block .button.add-tocart {background-color: #4CB1F1; color: #ffffff; box-shadow: 0 2px 0 #4CB1F1;}
.amcart-related-block .block-content, #am-block-upsell .block-content {display: -webkit-flex; display: flex;}
#am-block-upsell {margin-bottom: 40px;}
#messageBox .block-upsell:after {display: block; content: ''; clear: both;}
#messageBox .block-upsell p {padding: 5px 0 0 0; margin: 0;}
#messageBox .block-upsell {padding: 0; margin: 22px auto; width: 400px;}
.amcart-upsell-block .block-upsell .product {
    display: -webkit-flex;
    display: flex;
    width: 50%;    height: inherit;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
#messageBox .block-upsell .price {font-size: 16px;}
.am-upsell-title {margin: 40px; font-size: 15px; height: 1px; background: #cecccc; line-height: 0;}
.am-upsell-title .am-title {padding: 0 20px;}
div#confirmBox, .am-upsell-title > .am-title {background-color: #ffffff}
#am-block-upsell {margin-bottom: 40px;}
.amcart-upsell-block .block-upsell .product {
    display: -webkit-flex;
    display: flex;
    width: 50%;
    height: inherit;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
#messageBox .block-upsell .price {font-size: 16px;}
#messageBox .product.one-upsell {float: none; display: inline;}
.amcart-upsell-block .button.add-tocart {width: 114px; height: 30px; text-transform: none; border-radius: 5px;}
.amcart-upsell-block .block-content {display: -webkit-flex; display: flex;}
.amcart-upsell-block .block-content .add-tocart {margin: 0 auto;}
.amcart-upsell-block .block-content .product-image:hover,
.amcart-upsell-block .block-content .product-image {
    border: 0;
    display: block;
    float: none;
    margin: 0 auto 1.123em;
}
@media (max-width: 566px) {
    .amcart-upsell-block .product-image > img {width: 100%; height: auto;}
    #confirmBox .amcart-upsell-block .product-name a {width: auto;}
    .amcart-upsell-block .block-upsell .product {margin: 0;}
    .amcart-upsell-block .block-content {padding: 0 5px;}
} 