<?xml version="1.0"?>
<config>
	<modules>
		<Meigee_ThemeOptionsHarbour>
			<version>0.1.0</version>
			<depends>
			<!-- no dependencies -->
			</depends>
		</Meigee_ThemeOptionsHarbour>
	</modules> 
	<admin>
		<routers>
			<adminhtml2>
				<use>admin</use>
				<args>
					<module>Meigee_ThemeOptionsHarbour</module>
					<frontName>themeoptionsharbour</frontName>
				</args>
			</adminhtml2>
		</routers>
	</admin>
	<frontend>
		<routers>
		   <meigeefrontend>
			  <use>standard</use>
			  <args>
				 <module>Meigee_ThemeOptionsHarbour</module>
				 <frontName>meigeeactions</frontName>
			  </args>
		   </meigeefrontend>
		</routers>
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<meigeesettings>
					<file>meigeesettings.xml</file>
				</meigeesettings>
			</updates>
		</layout>
		<menu>
			<meigee translate="title" module="ThemeOptionsHarbour">
				<title>Meigee</title>
				<sort_order>9999</sort_order>
				<children>
					<theme_harbour translate="title" module="ThemeOptionsHarbour">
						<title>Harbour</title>
						<sort_order>1</sort_order>
						<children>
					<theme_options translate="title" module="ThemeOptionsHarbour">
						<title>Theme Options v1.1</title>
						<sort_order>1</sort_order>
						<children>
							<general_options translate="title" module="ThemeOptionsHarbour">
								<title>General Options</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/meigee_harbour_general</action>
							</general_options>
							<appearance_options translate="title" module="ThemeOptionsHarbour">
								<title>Appearance Options</title>
								<sort_order>2</sort_order>
								<action>adminhtml/system_config/edit/section/meigee_harbour_appearance</action>
							</appearance_options>
							<design_options translate="title" module="ThemeOptionsHarbour">
								<title>Design Options</title>
								<sort_order>3</sort_order>
								<action>adminhtml/system_config/edit/section/meigee_harbour_design</action>
							</design_options>
							<productpage_options translate="title" module="ThemeOptionsHarbour">
								<title>Product Page Options</title>
								<sort_order>4</sort_order>
								<action>adminhtml/system_config/edit/section/meigee_harbour_productpage</action>
							</productpage_options>
							<sidebar_options translate="title" module="ThemeOptionsHarbour">
								<title>Sidebar Options</title>
								<sort_order>5</sort_order>
								<action>adminhtml/system_config/edit/section/meigee_harbour_sidebar</action>
							</sidebar_options>
							<bgslider_options translate="title" module="ThemeOptionsHarbour">
								<title>Background Slider</title>
								<sort_order>6</sort_order>
								<action>adminhtml/system_config/edit/section/meigee_harbour_bgslider</action>
							</bgslider_options>
						</children>
					</theme_options>
					<restore_theme translate="title" module="ThemeOptionsHarbour">
						<title>Restore Defaults</title>
						<sort_order>1</sort_order>
						<action>themeoptionsharbour/restore/index</action>
					</restore_theme>
					<activate_theme translate="title" module="ThemeOptionsHarbour">
						<title>Activate Theme</title>
						<sort_order>1</sort_order>
						<action>themeoptionsharbour/activation/index</action>
					</activate_theme>
				</children>
					</theme_harbour>
				</children>
			</meigee>
		</menu>
		<events>
		    <controller_action_predispatch>
                <observers>
                    <themeoptionsharbour_notification>
                        <type>singleton</type>
                        <class>Meigee_ThemeOptionsHarbour_Model_Feed</class>
                        <method>observe</method>
                    </themeoptionsharbour_notification>
                </observers>
            </controller_action_predispatch>
		</events>
	</adminhtml>
	<global>
		<models>
			<ThemeOptionsHarbour><class>Meigee_ThemeOptionsHarbour_Model</class></ThemeOptionsHarbour>
		</models>
		<resources>
		    <themeoptionsharbour_setup>
		      <setup>
		        <module>Meigee_ThemeOptionsHarbour</module>
		        <class>Meigee_ThemeOptionsHarbour_Model_Resource_Eav_Mysql4_Setup</class>
		      </setup>
		      <connection>
		        <use>core_setup</use>
		      </connection>
		    </themeoptionsharbour_setup>
		    <themeoptionsharbour_write>
		      <connection>
		        <use>core_write</use>
		      </connection>
		    </themeoptionsharbour_write>
		    <themeoptionsharbour_read>
		      <connection>
		        <use>core_read</use>
		      </connection>
		    </themeoptionsharbour_read>
		</resources>
		<events>
			<adminhtml_controller_action_predispatch_start>
				<observers>
					<Meigee_ThemeOptionsHarbour_observer>
						<type>singleton</type>
						<class>Meigee_ThemeOptionsHarbour_Controller_Observer</class>
						<method>overrideTheme</method>
					</Meigee_ThemeOptionsHarbour_observer>
				</observers>
			</adminhtml_controller_action_predispatch_start>
			<controller_action_postdispatch_adminhtml_system_config_save>
				<observers>
					<themeoptionsharbour_awesome>
						<type>singleton</type>
						<class>Meigee_ThemeOptionsHarbour_Model_Observer</class>
						<method>cssgenerate</method>
					</themeoptionsharbour_awesome>
				</observers>
			</controller_action_postdispatch_adminhtml_system_config_save>
		</events>
		<helpers>
			<ThemeOptionsHarbour><class>Meigee_ThemeOptionsHarbour_Helper</class></ThemeOptionsHarbour>
			<configurableswatches>
				<rewrite>
					<mediafallback>Meigee_ThemeOptionsHarbour_Helper_Mediafallback</mediafallback>
				</rewrite>
			</configurableswatches>
		</helpers>
		<extraconfig />
		<blocks>
			<meigee_themeoptionsharbour><class>Meigee_ThemeOptionsHarbour_Block</class></meigee_themeoptionsharbour>
			<themeoptionsharbour><class>Meigee_ThemeOptionsHarbour_Block</class></themeoptionsharbour>
			<meigee_harbour_general><class>Meigee_ThemeOptionsHarbour_Block</class></meigee_harbour_general>
			<meigee_harbour_appearance><class>Meigee_ThemeOptionsHarbour_Block</class></meigee_harbour_appearance>
			<meigee_harbour_productpage><class>Meigee_ThemeOptionsHarbour_Block</class></meigee_harbour_productpage>
			<meigee_harbour_sidebar><class>Meigee_ThemeOptionsHarbour_Block</class></meigee_harbour_sidebar>
			<meigee_harbour_bgslider><class>Meigee_ThemeOptionsHarbour_Block</class></meigee_harbour_bgslider>
			<customcolorsblock>
				<class>Meigee_ThemeOptionsHarbour_Block_EditCustomColors</class>
			</customcolorsblock>
		</blocks>
	</global>
	<!---->
	<default>
		<design>
		<header translate="welcome" module="page">
			<welcome>Default welcome msg!</welcome>
		</header>
		<footer translate="copyright" module="page">
			<copyright>&amp;copy; 2014 Magento Demo Store. All Rights Reserved.</copyright>
		</footer>
		 </design>
		 <meigee_harbour_general>
			<retina>
				<status>0</status>
			</retina>
			<newsletter>
				<bgoption>0</bgoption>
			</newsletter>
			<productimages>
				<customAspectRatio>999</customAspectRatio>
			</productimages>
			<productlabels>
				<labelnew>1</labelnew>
				<labelonsale>1</labelonsale>
				<labelonlyxleft>0</labelonlyxleft>
				<salepercentage>1</salepercentage>
				<labelsorder>new_sale</labelsorder>
				<labelsposition>top-right</labelsposition>
				<labelview>label-type-2</labelview>
			</productlabels>
			<otheroptions>
				<totop>1</totop>
				<notices>1</notices>
			</otheroptions>
			<fancybox>
				<fancybox_status>0</fancybox_status>
				<fancybox_home>0</fancybox_home>
				<fancybox_listing>0</fancybox_listing>
				<fancybox_product>0</fancybox_product>
				<fancybox_footer>0</fancybox_footer>
			</fancybox>
			<rollover>
				<rollover_status>1</rollover_status>
				<rollover_type>1</rollover_type>
			</rollover>
			<popup>
				<popup_status>1</popup_status>
				<popup_static>harbour_popup_content</popup_static>
				<onlyhome>1</onlyhome>
				<cookielifetime>30</cookielifetime>
				<popupwidth>828</popupwidth>
				<popupheight>389</popupheight>
				<formobile>1</formobile>
				<fortablet>1</fortablet>
			</popup>
			<contactmap>
				<map>1</map>
				<latitude>40.69370</latitude>
				<longitude>-73.94738</longitude>
				<mapzoom>15</mapzoom>
				<maptype>ROADMAP</maptype>
				<marker>1</marker>
				<markertitle>Brooklyn, NY, United States</markertitle>
				<block>1</block>
				<blockstatic>harbour_contact_map_block</blockstatic>
				<blockwidth>270</blockwidth>
				<blockheight>130</blockheight>
				<blockposition>right-bottom</blockposition>
			</contactmap>
		</meigee_harbour_general>
		<meigee_harbour_appearance>
			<presets>
				<preset>99</preset>
			</presets>
			<header>
				<headertype>0</headertype>
				<transparent_header_home>1</transparent_header_home>
				<transparent_header_home_bg>1</transparent_header_home_bg>
				<transparent_header_all>0</transparent_header_all>
				<transparent_header_all_bg_pos>3</transparent_header_all_bg_pos>
				<transparent_header_all_img></transparent_header_all_img>
				<transparent_header_all_retina_img></transparent_header_all_retina_img>
				<floatingheader>1</floatingheader>
				<floatingheader_logo>1</floatingheader_logo>
				<floatingheader_menu>1</floatingheader_menu>
				<floatingheader_search>1</floatingheader_search>
				<floatingheader_cart>0</floatingheader_cart>
			</header>
			<layout>
				<sitelayout>0</sitelayout>
				<responsiveness>1</responsiveness>
				<cartpage>cart_new_default</cartpage>
				<rtl>0</rtl>
			</layout>
			<toplinks>
				<displayas>0</displayas>
				<accountlink>1</accountlink>
				<wishlistlink>0</wishlistlink>
				<cartlink>1</cartlink>
				<checkoutlink>1</checkoutlink>
				<loginlink>1</loginlink>
			</toplinks>
			<mycart>
				<price>0</price>
				<icon>1</icon>
				<label>0</label>
				<count>1</count>
				<cartonhover>0</cartonhover>
			</mycart>
			<logo>
			
			</logo>
			<footer>
				<footer_status>1</footer_status>
				<footer_static>harbour_footer</footer_static>
			</footer>
			<productlisting>
				<sidebar>sidebar_left</sidebar>
				<grid>3</grid>
				<quickview>1</quickview>
				<productname>1</productname>
				<productprice>1</productprice>
				<rating_stars>0</rating_stars>
				<rating_cust_link>0</rating_cust_link>
				<rating_add_review_link>0</rating_add_review_link>
				<addtocart>0</addtocart>
				<compareproducts>0</compareproducts>
				<wishlist>0</wishlist>
			</productlisting>
			<lang_switcher>
				<status>language_flags</status>
				<label>1</label>
			</lang_switcher>
			<curr_switcher>
				<status>currency_select</status>
				<label>1</label>
			</curr_switcher>
		</meigee_harbour_appearance>
		<meigee_harbour_design>
			<appearance>
				<font_main>0</font_main>
				<gfontmain>Raleway</gfontmain>
				<main_default_sizes>1</main_default_sizes>
				<main_fontsize>12</main_fontsize>
				<main_lineheight>18</main_lineheight>
				<main_fontweight>100</main_fontweight>
				<font>1</font>
				<default_sizes>1</default_sizes>
				<fontsize>14</fontsize>
				<gfont>Raleway</gfont>
				<lineheight>20</lineheight>
				<fontweight>100</fontweight>
				<patern>none</patern>
				<custompatern></custompatern>
			</appearance>
			<icons>
				<search>fa-search</search>
				<headercart>fa-shopping-cart</headercart>
				<editproduct>fa-pencil</editproduct>
				<editaccount>fa-pencil</editaccount>
				<quickview>fa-search</quickview>
				<fancybox>fa-search</fancybox>
				<compare>fa-bar-chart-o</compare>
				<wishlist>fa-star</wishlist>
				<emailfiend>fa-envelope-o</emailfiend>
				<descreaseqty>fa-caret-down</descreaseqty>
				<increaseqty>fa-caret-up</increaseqty>
				<mobilemenu>fa-bars</mobilemenu>
			</icons>
			<base>
				<base_override>1</base_override>
				<sitebg>1b1b1b</sitebg>
				<maincolor>4cb1f1</maincolor>
				<secondcolor>ff2c2c</secondcolor>
			</base>
			<catlabels>
				<label_one>4cb1f1</label_one>
				<label_one_color>fff</label_one_color>
				<label_one_h>9ede42</label_one_h>
				<label_one_color_h>fff</label_one_color_h>
				<label_two>b59470</label_two>
				<label_two_color>fff</label_two_color>
				<label_two_h>4fa9e1</label_two_h>
				<label_two_color_h>fff</label_two_color_h>
				<label_three>FF712F</label_three>
				<label_three_color>fff</label_three_color>
				<label_three_h>FF712F</label_three_h>
				<label_three_color_h>fff</label_three_color_h>
			</catlabels>
			<header>
				<header_bg>ffffff</header_bg>
				<header_color>666666</header_color>
				<header_link_color>4cb1f1</header_link_color>
				<header_link_color_h>ff2c2c</header_link_color_h>
				<header_border>eeeeee</header_border>
				<header_border_width>1</header_border_width>
				<header_top_bg>f5f5f5</header_top_bg>
				<header_lang_currency_bg>ffffff</header_lang_currency_bg>
				<header_lang_currency_bg_h>ebebeb</header_lang_currency_bg_h>
				<header_lang_currency_text>222222</header_lang_currency_text>
				<header_lang_currency_text_h>222222</header_lang_currency_text_h>
				<header_lang_currency_dropdown_bg>ffffff</header_lang_currency_dropdown_bg>
				<header_lang_currency_label>222222</header_lang_currency_label>
				<header_lang_currency_swither_bg>eeeeee</header_lang_currency_swither_bg>
				<header_lang_currency_swither_border>eeeeee</header_lang_currency_swither_border>
				<header_lang_currency_swither_color>666666</header_lang_currency_swither_color>
				<header_lang_currency_swither_dropdown>eeeeee</header_lang_currency_swither_dropdown>
				<header_lang_currency_swither_dropdown_link>666666</header_lang_currency_swither_dropdown_link>
				<header_lang_currency_swither_dropdown_link_bg_h>dddddd</header_lang_currency_swither_dropdown_link_bg_h>
				<header_lang_currency_swither_dropdown_link_h>666666</header_lang_currency_swither_dropdown_link_h>
				<header_search_bg>eeeeee</header_search_bg>
				<header_search_border>eeeeee</header_search_border>
				<header_search_border_width>1</header_search_border_width>
				<header_search_color>aaaaaa</header_search_color>
				<header_search_button_bg>eeeeee</header_search_button_bg>
				<header_search_button_border>eeeeee</header_search_button_border>
				<header_search_button_border_width>1</header_search_button_border_width>
				<header_search_button_color>aaaaaa</header_search_button_color>
				<header_search_button_bg_h>4cb1f1</header_search_button_bg_h>
				<header_search_button_border_h>4cb1f1</header_search_button_border_h>
				<header_search_button_color_h>ffffff</header_search_button_color_h>
				<header_search_active_bg>eeeeee</header_search_active_bg>
				<header_search_active_border>4cb1f1</header_search_active_border>
				<header_search_active_color>aaaaaa</header_search_active_color>
				<header_search_active_button_bg>eee</header_search_active_button_bg>
				<header_search_active_button_border>eee</header_search_active_button_border>
				<header_search_active_button_color>aaaaaa</header_search_active_button_color>
				<header_toolbar_buttons_bg>ffffff</header_toolbar_buttons_bg>
				<header_toolbar_buttons_color>222222</header_toolbar_buttons_color>
				<header_toolbar_buttons_bg_h>eeeeee</header_toolbar_buttons_bg_h>
				<header_toolbar_buttons_color_h>222222</header_toolbar_buttons_color_h>
				<header_toolbar_cart_counter>666666</header_toolbar_cart_counter>
				<header_toolbar_cart_counter_border>cccccc</header_toolbar_cart_counter_border>
				<header_toolbar_cart_price_color>ff0000</header_toolbar_cart_price_color>
				<header_toolbar_cart_counter_h>666666</header_toolbar_cart_counter_h>
				<header_toolbar_cart_counter_border_h>cccccc</header_toolbar_cart_counter_border_h>
				<header_toolbar_cart_price_color_h>ff0000</header_toolbar_cart_price_color_h>
				<cart_dropdown_bg>ffffff</cart_dropdown_bg>
				<cart_dropdown_shadow>000000</cart_dropdown_shadow>
				<cart_dropdown_product_title>222222</cart_dropdown_product_title>
				<cart_dropdown_product_title_h>4cb1f1</cart_dropdown_product_title_h>
				<cart_dropdown_product_price>4cb1f1</cart_dropdown_product_price>
				<cart_dropdown_count_color>888888</cart_dropdown_count_color>
				<cart_dropdown_count_strong_color>666666</cart_dropdown_count_strong_color>
				<cart_dropdown_label_color>aaaaaa</cart_dropdown_label_color>
				<cart_dropdown_icons_color>aaaaaa</cart_dropdown_icons_color>
				<cart_dropdown_icons_color_h>4cb1f1</cart_dropdown_icons_color_h>
				<cart_dropdown_total_color>222222</cart_dropdown_total_color>
				<cart_dropdown_total_price_color>4cb1f1</cart_dropdown_total_price_color>
				<cart_dropdown_total_border>dddddd</cart_dropdown_total_border>
				<cart_dropdown_total_border_width>1</cart_dropdown_total_border_width>
				<account_bg>fff</account_bg>
				<account_color>222222</account_color>
				<account_border>222222</account_border>
				<account_border_width>1</account_border_width>
				<account_bg_h>f5f5f5</account_bg_h>
				<account_color_h>222222</account_color_h>
				<account_border_h>f5f5f5</account_border_h>
				<account_submenu_bg>ffffff</account_submenu_bg>
				<account_submenu_link_divider>eeeeee</account_submenu_link_divider>
				<account_submenu_link_divider_width>1</account_submenu_link_divider_width>
				<account_submenu_link_color>aaaaaa</account_submenu_link_color>
				<account_submenu_link_bg>ffffff</account_submenu_link_bg>
				<account_submenu_link_color_h>aaaaaa</account_submenu_link_color_h>
				<account_submenu_link_bg_h>fafafa</account_submenu_link_bg_h>
				<menu_right_bg>fff</menu_right_bg>
				<menu_right_color>666</menu_right_color>
				<menu_right_title_color>222</menu_right_title_color>
				<menu_right_title_border>ddd</menu_right_title_border>
				<menu_right_title_border_w>1</menu_right_title_border_w>
				<menu_right_link_bg>fff</menu_right_link_bg>
				<menu_right_link_color>666</menu_right_link_color>
				<menu_right_link_bg_h>eee</menu_right_link_bg_h>
				<menu_right_link_color_h>666</menu_right_link_color_h>
				<menu_right_icon_color>666</menu_right_icon_color>
				<menu_right_icon_color_h>4cb1f1</menu_right_icon_color_h>
			</header>
			<sticky_header>
				<sticky_header_bg>fff</sticky_header_bg>
				<sticky_menu_link_bg>fff</sticky_menu_link_bg>
				<sticky_menu_link_border>fff</sticky_menu_link_border>
				<sticky_menu_link_border_width>1</sticky_menu_link_border_width>
				<sticky_menu_link_color>444</sticky_menu_link_color>
				<sticky_menu_link_bg_h>ffffff</sticky_menu_link_bg_h>
				<sticky_menu_link_border_h>ddd</sticky_menu_link_border_h>
				<sticky_menu_link_color_h>222222</sticky_menu_link_color_h>
				<sticky_menu_link_bg_a>fff</sticky_menu_link_bg_a>
				<sticky_menu_link_border_a>222</sticky_menu_link_border_a>
				<sticky_menu_link_color_a>222</sticky_menu_link_color_a>
				<sticky_cart_bg>fff</sticky_cart_bg>
				<sticky_cart_color>222222</sticky_cart_color>
				<sticky_cart_text_color>aaaaaa</sticky_cart_text_color>
				<sticky_cart_text_border>ccc</sticky_cart_text_border>
				<sticky_cart_price_color>ff0000</sticky_cart_price_color>
				<sticky_cart_bg_h>eee</sticky_cart_bg_h>
				<sticky_cart_color_h>222</sticky_cart_color_h>
				<sticky_cart_text_color_h>aaaaaa</sticky_cart_text_color_h>
				<sticky_cart_text_border_h>ccc</sticky_cart_text_border_h>
				<sticky_cart_price_color_h>ff0000</sticky_cart_price_color_h>
				<sticky_search_bg>ffffff</sticky_search_bg>
				<sticky_search_color>222222</sticky_search_color>
				<sticky_search_bg_h>eeeeee</sticky_search_bg_h>
				<sticky_search_color_h>222222</sticky_search_color_h>		
			</sticky_header>
			<rev_slider_but>
				<buttons_bg>000000</buttons_bg>
				<buttons_transparent_bg>1</buttons_transparent_bg>
				<buttons_transparent_bg_value>30</buttons_transparent_bg_value>
				<buttons_border>ffffff</buttons_border>
				<buttons_transparent_border>0</buttons_transparent_border>
				<buttons_transparent_border_value>100</buttons_transparent_border_value>
				<buttons_border_width>0</buttons_border_width>
				<buttons_color>ffffff</buttons_color>
				<buttons_bg_h>4cb1f1</buttons_bg_h>
				<buttons_transparent_bg_h>0</buttons_transparent_bg_h>
				<buttons_transparent_bg_h_value>100</buttons_transparent_bg_h_value>
				<buttons_border_h>4cb1f1</buttons_border_h>
				<buttons_transparent_border_h>0</buttons_transparent_border_h>
				<buttons_transparent_border_h_value>100</buttons_transparent_border_h_value>
				<buttons_color_h>ffffff</buttons_color_h>
			</rev_slider_but>
			<menu>
				<top_link_bg>ffffff</top_link_bg>
				<top_link_border>ffffff</top_link_border>
				<top_link_border_width>1</top_link_border_width>
				<top_link_color>222222</top_link_color>
				<top_link_bg_h>ffffff</top_link_bg_h>
				<top_link_border_h>dddddd</top_link_border_h>
				<top_link_color_h>222222</top_link_color_h>
				<top_link_bg_a>ffffff</top_link_bg_a>
				<top_link_border_a>dddddd</top_link_border_a>
				<top_link_color_a>222222</top_link_color_a>
				<submenu_bg>ffffff</submenu_bg>
				<submenu_top_link_border_width>0</submenu_top_link_border_width>
				<submenu_top_link_border>dddddd</submenu_top_link_border>
				<submenu_top_link_color>222222</submenu_top_link_color>
				<submenu_top_link_border_h>dddddd</submenu_top_link_border_h>
				<submenu_top_link_color_h>222222</submenu_top_link_color_h>
				<submenu_link_bg>ffffff</submenu_link_bg>
				<submenu_link_color>666666</submenu_link_color>
				<submenu_link_border_width>1</submenu_link_border_width>
				<submenu_link_border>eeeeee</submenu_link_border>
				<submenu_link_bg_h>eee</submenu_link_bg_h>
				<submenu_link_color_h>666666</submenu_link_color_h>
				<submenu_link_border_h>eeeeee</submenu_link_border_h>
				<submenu_banner_1_subtitle>fff</submenu_banner_1_subtitle>
				<submenu_banner_1_title>fff</submenu_banner_1_title>
				<submenu_banner_2_subtitle>666666</submenu_banner_2_subtitle>
				<submenu_banner_2_title>222</submenu_banner_2_title>
				<submenu_banner_3_subtitle>fff</submenu_banner_3_subtitle>
				<submenu_banner_3_title>fff</submenu_banner_3_title>
				<submenu_text_color>666</submenu_text_color>
				<submenu_quick_links>666</submenu_quick_links>
				<submenu_quick_links_link>222</submenu_quick_links_link>
				<submenu_quick_links_link_h>4cb1f1</submenu_quick_links_link_h>
				<submenu_sale>4cb1f1</submenu_sale>
			</menu>
			<parallax_banners>
				<colors1_h2>ffffff</colors1_h2>
				<colors1_h3>ffffff</colors1_h3>
				<colors1_h4>ffffff</colors1_h4>
				<colors1_p>ffffff</colors1_p>
				<colors1_divider>ffffff</colors1_divider>
				<colors1_button_border>ffffff</colors1_button_border>
				<colors1_button_border_width>2</colors1_button_border_width>
				<colors1_button_text>ffffff</colors1_button_text>
				<colors1_button_border_h>4cb1f1</colors1_button_border_h>
				<colors1_button_bg_h>4cb1f1</colors1_button_bg_h>
				<colors1_button_text_h>ffffff</colors1_button_text_h>
				<colors2_h2>222222</colors2_h2>
				<colors2_h3>222222</colors2_h3>
				<colors2_h4>666666</colors2_h4>
				<colors2_divider>aaaaaa</colors2_divider>
				<colors2_p>666666</colors2_p>
				<colors2_button_border>ffffff</colors2_button_border>
				<colors2_button_border_width>2</colors2_button_border_width>
				<colors2_button_text>ffffff</colors2_button_text>
				<colors2_button_border_h>4cb1f1</colors2_button_border_h>
				<colors2_button_bg_h>4cb1f1</colors2_button_bg_h>
				<colors2_button_text_h>ffffff</colors2_button_text_h>
			</parallax_banners>
			<page_not_found>
				<title_color>fff</title_color>
				<subtitle_color>fff</subtitle_color>
				<text_color>fff</text_color>
				<button_border>fff</button_border>
				<button_border_width>2</button_border_width>
				<button_text_color>fff</button_text_color>
				<button_border_h>4cb1f1</button_border_h>
				<button_text_color_h>fff</button_text_color_h>
				<button_bg_h>4cb1f1</button_bg_h>
				<search_bg>fff</search_bg>
				<search_transparent_bg>1</search_transparent_bg>
				<search_transparent_bg_value>20</search_transparent_bg_value>
				<search_text>fff</search_text>
				<search_button_bg>fff</search_button_bg>
				<search_button_transparent_bg>1</search_button_transparent_bg>
				<search_button_transparent_bg_value>20</search_button_transparent_bg_value>
				<search_icon>fff</search_icon>
				<search_button_bg_h>4cb1f1</search_button_bg_h>
				<search_button_transparent_bg_h>0</search_button_transparent_bg_h>
				<search_button_transparent_bg_h_value>100</search_button_transparent_bg_h_value>
				<search_icon_h>fff</search_icon_h>
				<copyright_color>fff</copyright_color>
				<footer_links>fff</footer_links>
				<footer_links_h>fff</footer_links_h>
				<footer_links_bg_h>fff</footer_links_bg_h>
				<footer_links_transparent_bg_h>1</footer_links_transparent_bg_h>
				<footer_links_transparent_bg_h_value>20</footer_links_transparent_bg_h_value>
			</page_not_found>
			<content>
				<title_color>222222</title_color>
				<title_border>dddddd</title_border>
				<title_border_width>2</title_border_width>
				<toolbar_border>dddddd</toolbar_border>
				<toolbar_label>222222</toolbar_label>
				<toolbar_select_bg>eeeeee</toolbar_select_bg>
				<toolbar_select_text>666666</toolbar_select_text>
				<pager_active_button_bg>4cb1f1</pager_active_button_bg>
				<pager_active_button>ffffff</pager_active_button>
				<pager_buttons_bg>eeeeee</pager_buttons_bg>
				<pager_buttons_color>666666</pager_buttons_color>
				<pager_buttons_bg_h>dddddd</pager_buttons_bg_h>
				<pager_buttons_color_h>666</pager_buttons_color_h>
			</content>
			<buttons>
				<buttonsbg>fff</buttonsbg>
				<buttons_link>aaaaaa</buttons_link>
				<buttons_border>dddddd</buttons_border>
				<buttons_border_width>2</buttons_border_width>
				<buttons_link_h>ffffff</buttons_link_h>
				<buttons_border_h>4cb1f1</buttons_border_h>
				<buttonsbg_h>4cb1f1</buttonsbg_h>
				<buttons_2_bg>ff2c2c</buttons_2_bg>
				<buttons_2_border>ff2c2c</buttons_2_border>
				<buttons_2_link>ffffff</buttons_2_link>
				<buttons_2_border_width>2</buttons_2_border_width>
				<buttons_2_bg_h>4cb1f1</buttons_2_bg_h>
				<buttons_2_border_h>4cb1f1</buttons_2_border_h>
				<buttons_2_link_h>ffffff</buttons_2_link_h>
			</buttons>
			<products>
				<products_bg>ffffff</products_bg>
				<products_border_width>0</products_border_width>
				<products_border>ffffff</products_border>
				<products_title_color>222222</products_title_color>
				<products_title_color_h>4cb1f1</products_title_color_h>
				<produst_text_color>666</produst_text_color>
				<products_links_color>4cb1f1</products_links_color>
				<products_links_color_h>ff2c2c</products_links_color_h>
				<produst_price_color>4cb1f1</produst_price_color>
				<produst_old_price_color>aaaaaa</produst_old_price_color>
				<produst_special_price_color>4cb1f1</produst_special_price_color>
				<products_divider_color>dddddd</products_divider_color>
				<products_divider_width>1</products_divider_width>
				<label_sale_bg>ff0000</label_sale_bg>
				<label_sale_color>ffffff</label_sale_color>
				<label_new_bg>222222</label_new_bg>
				<label_new_color>ffffff</label_new_color>
			</products>
			<social_links>
				<social_links_bg>222222</social_links_bg>
				<social_links_border>222222</social_links_border>
				<social_links_border_width>0</social_links_border_width>
				<social_links_bg_h>393939</social_links_bg_h>
				<social_links_border_h>393939</social_links_border_h>
				<social_links_color>a9a9a9</social_links_color>
				<social_links_divider>2f2f2f</social_links_divider>
				<social_links_divider_width>1</social_links_divider_width>
				<social_links_color_h>a9a9a9</social_links_color_h>
				<social_links_divider_h>454545</social_links_divider_h>
			</social_links>
			<footer>
				<top_block_bg>222</top_block_bg>
				<top_block_text>aaaaaa</top_block_text>
				<top_block_border>2e2e2e</top_block_border>
				<top_block_border_width>1</top_block_border_width>
				<top_block_link>4cb1f1</top_block_link>
				<top_block_link_h>ff2c2c</top_block_link_h>
				<top_block_button_bg>222222</top_block_button_bg>
				<top_block_button_color>aaaaaa</top_block_button_color>
				<top_block_button_border>aaaaaa</top_block_button_border>
				<top_block_button_border_width>2</top_block_button_border_width>
				<top_block_button_bg_h>4cb1f1</top_block_button_bg_h>
				<top_block_button_color_h>fff</top_block_button_color_h>
				<top_block_button_border_h>4cb1f1</top_block_button_border_h>
				<top_block_title_divider>444444</top_block_title_divider>
				<top_block_title_divider_width>1</top_block_title_divider_width>
				<top_block_title_color>ffffff</top_block_title_color>
				<top_block_list_links_bg>222222</top_block_list_links_bg>
				<top_block_list_links_color>aaaaaa</top_block_list_links_color>
				<top_block_list_links_bg_h>2b2b2b</top_block_list_links_bg_h>
				<top_block_list_links_color_h>aaaaaa</top_block_list_links_color_h>
				<top_block_default_links_bg>222222</top_block_default_links_bg>
				<top_block_default_links_color>aaaaaa</top_block_default_links_color>
				<top_block_default_links_bg_h>323232</top_block_default_links_bg_h>
				<top_block_default_links_color_h>aaaaaa</top_block_default_links_color_h>
				<bottom_block_bg>111</bottom_block_bg>
				<bottom_block_text>ffffff</bottom_block_text>
				<bottom_block_labels>aaaaaa</bottom_block_labels>
				<bottom_block_select_bg>323232</bottom_block_select_bg>
				<bottom_block_select_color>ffffff</bottom_block_select_color>
				<bottom_block_select_border>323232</bottom_block_select_border>
				<bottom_block_select_border_width>1</bottom_block_select_border_width>
				<contact_bg>222222</contact_bg>
				<contact_border>444444</contact_border>
				<contact_text>aaaaaa</contact_text>
				<newsletter_label>aaaaaa</newsletter_label>
				<newsletter_input_bg>444444</newsletter_input_bg>
				<newsletter_input_border>444444</newsletter_input_border>
				<newsletter_input_color>888888</newsletter_input_color>
				<newsletter_button_bg>444444</newsletter_button_bg>
				<newsletter_button_color>ffffff</newsletter_button_color>
				<newsletter_button_bg_h>444444</newsletter_button_bg_h>
				<newsletter_button_color_h>4cb1f1</newsletter_button_color_h>
				<facebook_bg>ffffff</facebook_bg>
				<products_name>aaaaaa</products_name>
				<products_name_h>ff2c2c</products_name_h>
				<products_price_color>4cb1f1</products_price_color>
				<products_old_price_color>aaaaaa</products_old_price_color>
				<products_special_price_color>4cb1f1</products_special_price_color>
				<products_icons>aaaaaa</products_icons>
				<products_icons_h>4cb1f1</products_icons_h>
				<tags_color>888888</tags_color>
				<tags_border>4e4e4e</tags_border>
				<tags_bg>222222</tags_bg>
				<tags_color_h>ffffff</tags_color_h>
				<tags_border_h>4cb1f1</tags_border_h>
				<tags_bg_h>4cb1f1</tags_bg_h>
			</footer>
		</meigee_harbour_design>
		<meigee_harbour_productpage>
			<general>
				<collateral_related>related_slider</collateral_related>
				<relatedposition>bottom</relatedposition>
				<moreviews>moreviews_slider</moreviews>
				<prevnext>prevnext</prevnext>
				<product_sku>1</product_sku>
			</general>
			<layout>
				<collateral>collateral_tabs</collateral>
				<productsidebar>right</productsidebar>
				<pagelayout>productpage_medium</pagelayout>
				<collateral_position>underdetails</collateral_position>
			</layout>
			<brand>
				<productbrand>1</productbrand>
				<brandformat>.png</brandformat>
				<brandsearch>1</brandsearch>
				<brandtarget>1</brandtarget>
				<brandpos>sidebar</brandpos>
			</brand>
			<additional>
				<product_custom>harbour_product_custom</product_custom>
				<product_related_content></product_related_content>
			</additional>
			<rich_snippets>
				<status>1</status>
				<breadcrumbs>1</breadcrumbs>
				<product_ratings>1</product_ratings>
				<product_price>1</product_price>
			</rich_snippets>
		</meigee_harbour_productpage>
		<meigee_harbour_sidebar>
			<block_categories>
				<status>1</status>
				<option>1</option>
				<option_2>1</option_2>
			</block_categories>
			<block_shop_by>
				<status>1</status>
			</block_shop_by>
			<block_compare>
				<status>1</status>
			</block_compare>
			<block_compared>
				<status>1</status>
			</block_compared>
			<block_viewed>
				<status>1</status>
			</block_viewed>
			<block_wishlist>
				<status>1</status>
				<option>1</option>
			</block_wishlist>
			<block_tags>
				<status>1</status>
			</block_tags>
			<block_orders>
				<status>1</status>
			</block_orders>
			<newsletter>
				<status>1</status>
			</newsletter>
			<block_facebook>
				<status>0</status>
				<height>200</height>
				<colorscheme>light</colorscheme>
				<faces>1</faces>
				<header>1</header>
				<stream>0</stream>
				<border>1</border>
			</block_facebook>
		</meigee_harbour_sidebar>
		<meigee_harbour_bgslider>
			<slideroptions>
				<enabled>0</enabled>
				<fade>750</fade>
				<duration>4000</duration>
			</slideroptions>
		</meigee_harbour_bgslider>
	</default>
</config>