<?xml version="1.0"?>
<config>
    <modules>
        <ALogic_GridWrap>
            <version>1.0.0</version>
        </ALogic_GridWrap>
    </modules>
    <global>
        <models>
            <algridwrap>
                <class>ALogic_GridWrap_Model</class>
            </algridwrap>
        </models>
        <helpers>
            <algridwrap>
                <class>ALogic_GridWrap_Helper</class>
            </algridwrap>
        </helpers>
        <blocks>
            <algridwrap>
                <class>ALogic_GridWrap_Block</class>
            </algridwrap>
        </blocks>
        <resources>
            <algridwrap_setup>
                <setup>
                    <module>ALogic_GridWrap</module>
                </setup>
            </algridwrap_setup>
        </resources>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <ALogic_GridWrap>
                    <files>
                        <default>ALogic_GridWrap.csv</default>
                    </files>
                </ALogic_GridWrap>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <algridwrap>
                        <type>singleton</type>
                        <class>algridwrap/observer</class>
                        <method>beforeHtmlHook</method>
                        <args></args>
                    </algridwrap>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <sales_model_service_quote_submit_before>
                <observers>
                    <algridwrap>
                        <class>algridwrap/observer</class>
                        <method>applyOrderFlag</method>
                    </algridwrap>
                </observers>
            </sales_model_service_quote_submit_before>
        </events>
    </frontend>
</config>
