<?xml version="1.0"?>
<config>
  <modules>
    <Bss_CookieCart>
      <version>0.1.0</version>
    </Bss_CookieCart>
  </modules>
  <global>
    <helpers>
      <cookiecart>
        <class>Bss_CookieCart_Helper</class>
      </cookiecart>
    </helpers>
    <models>
        <bsscookiecart>
            <class>Bss_CookieCart_Model</class>
        </bsscookiecart>
    </models>
  </global>
  <frontend>
     <events>
        <checkout_cart_save_after>
            <observers>
               <bss_cookiecart_model_order_observer>
                  <type>singleton</type>
                  <class>Bss_CookieCart_Model_Order_Observer</class>
                  <method>saveCart</method>
               </bss_cookiecart_model_order_observer>
           </observers>
        </checkout_cart_save_after>
    </events>
    <events>
        <controller_action_predispatch>
            <observers>
               <controller_action_before>
                  <type>singleton</type>
                  <class>Bss_CookieCart_Model_Order_Observer</class>
                  <method>addcartNew</method>
               </controller_action_before>
           </observers>
        </controller_action_predispatch>
    </events>
    <events>
        <checkout_onepage_controller_success_action>
            <observers>
               <bss_cookiecart_checkout_onepage_controller_success_action>
                  <class>Bss_CookieCart_Model_Order_Observer</class>
                  <method>removeItemCookie</method>
               </bss_cookiecart_checkout_onepage_controller_success_action>
           </observers>
        </checkout_onepage_controller_success_action>
    </events>
  <!--events>
        <controller_action_postdispatch>
            <observers>
               <controller_action_after>
                  <type>singleton</type>
                  <class>Bss_CookieCart_Model_Order_Observer</class>
                  <method>addNotice</method>
               </controller_action_after>
           </observers>
        </controller_action_postdispatch>
    </events-->
  </frontend>
   <default>
    <cookiecart>
      <general>
        <time translate="label">60</time>
      </general>
    </cookiecart>
  </default>
</config> 