<?xml version="1.0"?>
<config>
    <modules>
        <Bss_FixCommunityUrl>
            <version>0.1.0</version>
        </Bss_FixCommunityUrl>
    </modules>
    <global>
        <helpers>
            <fixcommunityurl>
                <class>Bss_FixCommunityUrl_Helper</class>
            </fixcommunityurl>
        </helpers>
        <blocks>
            <fixcommunityurl>
                <class>Bss_FixCommunityUrl_Block</class>
            </fixcommunityurl>
            <catalog>
                <rewrite>
                    <navigation>Bss_FixCommunityUrl_Block_Catalog_Navigation</navigation>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <fixcommunityurl>
                <class>Bss_FixCommunityUrl_Model</class>
                <resourceModel>fixcommunityurl_mysql4</resourceModel>
            </fixcommunityurl>
        </models>
        <resources>
            <categoryattribute1591166437_setup>
                <setup>
                    <module>Bss_FixCommunityUrl</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </categoryattribute1591166437_setup>
            <categoryattribute1591166437_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </categoryattribute1591166437_write>
            <categoryattribute1591166437_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </categoryattribute1591166437_read>
        </resources>
    </global>
</config> 