<?xml version="1.0"?>
<!--
 * @category    Ms
 * @package     Ms_AddressVerification
 * @license     https://markshust.com/eula/
-->
<config>
    <tabs>
        <ms>
            <sort_order>450</sort_order>
            <label translate="label" module="ms_core">Mark Shust</label>
            <class>system-config-tab-ms</class>
        </ms>
    </tabs>
    <sections>
        <ms_addressverification translate="label" module="ms_addressverification">
            <label>Address Verification</label>
            <tab>ms</tab>
            <frontend_type>text</frontend_type>
            <sort_order>450</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>Extension Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Address Verification</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <allow_bypass translate="label">
                            <label>Allow Customers To Bypass Address Verification</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allow_bypass>
                        <primary_api translate="label">
                            <label>Primary API</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ms_addressverification/attribute_source_api</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </primary_api>
                    </fields>
                </general>
                <usps translate="label">
                    <label>USPS</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <gateway_url translate="label">
                            <label>Gateway URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Ex. http://production.shippingapis.com/ShippingAPI.dll</comment>
                        </gateway_url>
                        <account_number translate="label">
                            <label>Account Number</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Ex. 123ABCDE4567</comment>
                        </account_number>
                    </fields>
                </usps>
                <smartystreets>
                    <label>Smarty Streets</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <us_street_address_api_url translate="label">
                            <label>US Street Address API URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Ex. https://api.smartystreets.com/street-address</comment>
                        </us_street_address_api_url>
                        <auth_id translate="label">
                            <label>Auth ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Ex. 7261a526-6712-f059-5165-de105483611d</comment>
                        </auth_id>
                        <auth_token translate="label">
                            <label>Auth Token</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Ex. QYhj3rHh913amOWW0M1n</comment>
                        </auth_token>
                    </fields>
                </smartystreets>
            </groups>
        </ms_addressverification>
    </sections>
</config>
