<?xml version="1.0"?>
<config>
  <modules>
    <Bss_CustomCategoryAttribute>
      <version>0.1.0</version>
    </Bss_CustomCategoryAttribute>
  </modules>
  <global>
    <helpers>
      <customcategoryattribute>
        <class>Bss_CustomCategoryAttribute_Helper</class>
      </customcategoryattribute>
    </helpers>
	<models>
	  <customcategoryattribute>
		<class>Bss_CustomCategoryAttribute_Model</class>
		<resourceModel>customcategoryattribute_mysql4</resourceModel>
	  </customcategoryattribute>
	</models>
	<resources>
	  <categoryattribute1508819991_setup>
		<setup>
		  <module>Bss_CustomCategoryAttribute</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1508819991_setup>
	  <categoryattribute1508819991_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1508819991_write>
	  <categoryattribute1508819991_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1508819991_read>
	</resources>
  </global>
</config> 