<?xml version="1.0"?>
<config>
  <modules>
    <Bss_NewAttCustomer>
      <version>0.1.0</version>
    </Bss_NewAttCustomer>
  </modules>
  <global>
    <helpers>
      <newattcustomer>
        <class>Bss_NewAttCustomer_Helper</class>
      </newattcustomer>
    </helpers>
	<models>
	  <newattcustomer>
		<class>Bss_NewAttCustomer_Model</class>
		<resourceModel>newattcustomer_mysql4</resourceModel>
	  </newattcustomer>
	</models>
	<resources>
	  <customerattribute1470740474_setup>
		<setup>
		  <module>Bss_NewAttCustomer</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1470740474_setup>
	  <customerattribute1470740474_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1470740474_write>
	  <customerattribute1470740474_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1470740474_read>
	</resources>
  </global>
  <frontend>
        <layout>
            <updates>
                <Bss_NewAttCustomer>
                    <file>bss_newattcustomer.xml</file>
                </Bss_NewAttCustomer>
            </updates>
        </layout>
    </frontend>
</config> 