<?xml version="1.0"?>
<config>
  <modules>
    <Bss_Rwcustomerctl>
      <version>1.0.0</version>
    </Bss_Rwcustomerctl>
  </modules>
  <frontend>
    <routers>
      <customer>
          <args>
            <modules>
              <Bss_Rwcustomerctl before="Mage_Customer">Bss_Rwcustomerctl_Customer</Bss_Rwcustomerctl>
            </modules>
          </args>
      </customer>
    </routers>
  </frontend>
  <global>
    <helpers>
      <rwcustomerctl>
        <class>Bss_Rwcustomerctl_Helper</class>
      </rwcustomerctl>
    </helpers>
  </global>
</config> 